[2020-07-29 20:11] kmova opened #5 "Migration - pull in changes from external-storage/pull/1320"
Raising this tracker issue to pull in the changes from https://github.com/kubernetes-incubator/external-storage/pull/1320 (cc: @sopak )

[2020-08-06 19:34] josecv opened #6 "image quay.io/external_storage/nfs-ganesha-server-and-provisioner does not exist"
Hello!

We're playing around with `nfs-ganesha-server-and-external-provisioner`, but our server/provisioner pod is going into ImagePullBackOff:

[code]

pulling the image from the command line doesn't seem to work either, it looks like the image just isn't there on quay.io at all:

[code]

I don't mind building the image ourselves, but the docs should probably be updated to state that it's not ava

[2020-08-07 10:38] nikhita commented on #5
Ref: https://github.com/kubernetes-incubator/external-storage/issues/1344

[2020-08-07 20:40] ffilz opened #7 "Problematical use of Filesystem_Id in nfs-ganesha exports"
In the nfs-ganesha project, we have this issue raised when Export_Id 152 is provisioned:

https://github.com/nfs-ganesha/nfs-ganesha/issues/615

I am wondering why the provisioning is specifying Filesystem_Id? It is not recommended to use this export configuration option for nfs-ganesha and instead allow the underlying filesystem to provide the filesystem ID via a UUID or by the device ID the file

[2020-08-10 12:34] kmova opened #9 "container restarts when api server is failing"
Issue was reported by @albanm on the older repo at: https://github.com/kubernetes-retired/external-storage/issues/1184

A proposed solution by @linki for this is available at: https://github.com/kubernetes-incubator/external-storage/pull/1352

Copy past of the issue description.

**Describe the bug**

The container restarts frequently when the api server is not responding but it should not have to

[2020-08-23 14:19] xriser commented on #6
same issue

[2020-09-03 09:21] #9 closed

[2020-09-11 06:54] gitlawr commented on #6
Using the previous image `quay.io/kubernetes_incubator/nfs-provisioner:latest`(From the [commit history](https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner/commit/9c3d3dcb18ab33884d3a662e2409e7b269da5f68)) works for me.

But I'm confused why the change is merged but the image is unavailable.

[2020-09-11 08:25] gitlawr commented on #6
Using the previous image `quay.io/kubernetes_incubator/nfs-provisioner:latest` (from [this commit](https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner/commit/9c3d3dcb18ab33884d3a662e2409e7b269da5f68)) works for me.

I'm confused why the change is merged but the image is unavailable.

[2020-10-21 10:46] MyIgel commented on #6
As the previous image crashloops on my k8s I would appreciate newer version

[2020-10-23 17:59] xriser commented on #6
https://hub.docker.com/repository/docker/riser/nfs-ganesha-server-and-provisioner
https://hub.docker.com/r/kvaps/nfs-ganesha-server-and-provisioner/tags

[2020-10-26 06:30] darkn3rd commented on #6
I am really confused.  The locked original repository has version 5.5.0:
* https://github.com/kubernetes-retired/external-storage/releases/tag/v5.5.0
Then this project has doesn't have any releases but has a changelog that shows version 1.0.8:
* https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner/blob/master/CHANGELOG.md

[2020-10-26 06:37] darkn3rd commented on #5
What this repo cut from an earlier release that is not supported?

[2020-10-26 06:52] darkn3rd opened #16 "No Releases or Updated Changelog"
There are no releases for this project.  It looks some pull requests in the prior read-only project were not pulled across into this version.  It is hard to tell what version this corresponds to as there are no tags or releases.  The helm chart included in this repo is not versioned either (typically there's a branch that communicates the releases to third party helm chart hubs).

The Quay reposit

[2020-10-30 06:34] kmova commented on #7
@ffilz - based on the conversation in the https://github.com/nfs-ganesha/nfs-ganesha/issues/615 and to maintain backward compatibility, it sounds appropriate to fix this provisioner to mark 152 as reserved. Thank you for raising this issue!

[2020-11-05 15:39] micmoc95 opened #18 "Sharing NFS folder between two namespaces"
Hi,
Using this provisioner works fine when pods share files from storage obtained using the same namespace/PVC as the shared folder name is dynamically created based on namespace/PVC/PV.
How can I manage to share files between two namespaces ?
Regards
Mic

[2020-11-05 19:18] consideRatio opened #19 "Update Helm chart with current best practices - PRs wanted?"
As Helm has developed over time, various best practices has been updated. I'd be happy to contribute PRs that would make this Helm chart up to date with such practices. But, I'd like some input with regards to if that would be wanted, and if it could be okay to make some breaking changes at this time.

I figure since this Helm chart isn't being published right now, it would be suitable to do break

[2020-11-07 16:29] sgandon opened #20 "have the nfs provisioner support hight availability"
I have been testing the helm chart in order to deploy the nfs provisioner because we would like to use it for production for many dynamic temporary PVs.
All the default values works fine but it creates only one replica of the provisionner (and the server).
For my use case I need to have more relyability and may be more throughput and was hoping to be able to increase the number of replicas.

1/ So

[2020-11-26 17:02] kmova commented on #19
cc: @kvaps

@consideRatio thank you for posting this and also offering to help. It would be great to start with the non-breaking changes and then look at possible breaking changes PR as well.

[2020-11-26 17:03] kmova commented on #20
Will look into this @sgandon and get back.

[2020-11-26 17:05] kmova commented on #18
This is a restriction from the PVC level at the moment. A pod can use the PVC within its namespace.

Can you possibly provide some more details on what you want to accomplish using an example?

[2020-11-26 17:59] kvaps commented on #19
Hi @consideRatio, we're always happy about any contribution, I totally agree with the following changes:

Please correct me if I', wrong, but `include` is usually makes sense in case when you need to save the templated output into variable, it useless for the single injection.

I don't see big reason to apply the following changes, despite the fact the Helm does not providing seamless upgrade:

Wh

[2020-11-26 19:43] consideRatio commented on #19
Thanks for the followup @kmova and @kvaps! I opened #21 with non breaking refactoring only.

---

@kvaps I didn't understand "the single injection." reference, but I think we are in agreement. As I understand it, `include` can do what `template` can and more, such as allowing its output to set a variable or be piped into another function.

The templates generated by `helm create` currently only us

[2020-11-26 19:54] kvaps commented on #19
Sorry for my english, got it!

[2020-12-01 19:16] gopalvibm opened #23 "We see memory consumption growing when running the pod in an Azure environment"
We are using the above code and running it with the default setup. We are using an Azure Premium disk as the backing disk. When we write a lot of IO to the volume from the client pod, we see the memory on the provisioner pod growing.

has anyone seen this before?

[2020-12-01 19:39] gopalvibm commented on #23
top pod output

[code]

[2020-12-02 03:51] gopalvibm commented on #23
[code]

[2020-12-02 18:56] kmova commented on #23
@gopalvibm - does this happen when there are stale nfs mounts?

[2020-12-03 13:17] raoul29 opened #25 "Stable helm chart deprecated"
The documented helm install command:

`helm install stable/nfs-server-provisioner`

gives a deprecated warning as the helm stable repo has been deprecated. Is there a plan to move this to a different helm repo?

[2020-12-04 17:52] YiannisGkoufas opened #26 "NFS Server not working"
Hi there,

apologies if I am missing out something obvious.
I am using minikube to test out the NFS server and following the instructions and using the deployment:
[code]
and rbac:
[code]
In ganesha.log I am getting:
[code]

Would appreciate any pointers

[2020-12-07 16:15] scottrigby opened #27 "CNCF Artifact Hub repo"
Hi, are one of these listed helm charts from this repo?

https://artifacthub.io/packages/search?page=1&ts_query_web=nfs-server-provisioner

If not, this would be good to add.

We have a kubernetes-sigs org there already - let me know if you'd like me to add you.

[2020-12-07 16:15] scottrigby commented on #27
Cross-linking:
- https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner/issues/25
- https://github.com/helm/charts/issues/24436

[2020-12-07 20:08] kvaps commented on #27
Hi,
My one kvaps/nfs-server-provisioner will follow this repo, we can also consider preparing a new helm repository for this chat.

[2020-12-07 20:24] gopalvibm commented on #23
@kmova
There are no stale mounts. are there any config parameters that help with flushing etc? We see that something like below helps in bringing down the memory:

[code]

[2020-12-08 17:11] scottrigby commented on #27
@kvaps OK lmk if I can help. Also check out this nice guide that Torsten made based on chart repo relocations I and he worked on https://torstenwalter.de/helm-chart-hosting/

[2020-12-14 14:49] aelbarkani opened #29 "Security: add Network policies"
Is there the possibility to add Network Policies to avoid other pods in a multi-tenant cluster from accessing Ganesha server without impacting volume mounts ?

[2020-12-16 15:48] #7 closed

[2021-01-05 10:54] Vinay-Venkatesh commented on #6
same here !!

[code]

[2021-01-05 14:20] payes commented on #26
Hi @YiannisGkoufas , according to the above logs, nfs server appears to be working fine. You can try creating volumes and verify.
Above failures are seen in working setups also.
Logs indicate failures associated to the following:
1. A dummy export block placed in vfs.conf file (Not sure why it is placed). No impact is seen on removing this block.
EXPORT
{
        # Export Id (mandatory, each EXPOR

[2021-01-07 00:16] payes commented on #20
Hi @sgandon, NFS HA is not possible using nfs-ganesha-server-and-external-provisioner at this moment.
But have you tried the one provided by rook, I came across this doc which might be helpful as per your requirement.
https://github.com/rook/rook/blob/master/design/ceph/ceph-nfs-ganesha.md

[2021-01-07 08:39] sgandon commented on #20
Thanks a lot for the answer, I'll look into that.

[2021-01-07 08:39] #20 closed

[2021-01-07 09:11] #19 closed

[2021-01-18 19:03] kmova commented on #6
We are in the process of migrating the image building to prow and pushing the images to gcr.

Currently, the builds are failing with the following error:

[code]
https://prow.k8s.io/view/gcs/kubernetes-jenkins/logs/post-nfs-ganesha-server-and-external-provisioner-push-images/1347108662958624768

[2021-01-25 22:05] bryanasdev000 commented on #16
Up.

[2021-01-27 21:58] mabushey commented on #6
They don't provide the container, the first thing the docs cover is building and pushing to your own registry. Unfortunately that's the only part where the docs are worth a damn.

[2021-02-03 00:10] euven commented on #27
@kvaps it would be nice to have this chart hosted in a more 'official' spot :) In the meantime, I'll use your repo - thanks!

[2021-02-03 07:28] kmova commented on #27
It will be nice to add the GitHub based chart releaser for this repository. Currently, going through this process on a different repo here: https://github.com/kubernetes-sigs/nfs-subdir-external-provisioner/pull/35

[2021-02-03 16:37] tricky42 opened #34 "Timeout when Pods try to mount volumes referencing PVCs of storageClass `nfs` on K3D cluster"
**Problem:**
I am trying to get `nfs-server-provisioner` to work in K3D. PVCs and PVs are handled correctly, but Pods cant mount the volume referenced by a PVC. I created an example to make it easy to reproduce the issue in a GitRepo: https://github.com/tricky42/k3d-nfs with a more detailed description.

In this setup the `local-path` provider from K3D is used to provide the PV for the NFS server

[2021-02-11 10:54] jgato opened #36 "Local export perms"
Hi there,
I would like to know which perms you recommend about the directory that will be exported by the NFS Storage Class.
Many thanks

[2021-02-17 11:03] kvaps opened #37 "Regenerate vfs.conf on initialization"
Consider regenerating ganesha exports config file `/export/vfs.conf` every time at startup.

the export block already can be found in allocated PVs:
[code]

[2021-03-05 12:23] MohammedAl-Mahdawi opened #40 "Issues when using more replicas!"
I'm using the helm chart with the following values:

[code]

When I try to create `pvc` it stay in the pending state with the following events:

[code]

If I change the `replicaCount` to 1 everything goes fine!

[2021-03-05 19:52] AntonSmolkov opened #41 "docker container(external) can't start after being stopped"
reproduce:
`docker stop nfs-ganesha` (or restart host os)
`docker start nfs-ganesha`

Container goes into infinite restart loop with error message:

file "/var/run/dbus/pid" exists, if the message bus is not running, remove this file

[2021-03-08 11:05] #41 closed

[2021-03-13 21:53] skandragon commented on #6
This project seems very immature, as it doesn't seem to build and publish images, seems to have no CI set up to do so like other k8s projects, and doesn't give a great sense of confidence in its stability.

The install guide is abysmal.  Of course, "rook" isn't much better, and I can't easily tell if "rook" is a NFS-provisioner or an NFS server...

[2021-03-14 03:07] kmova commented on #6
@skandragon @mabushey - the CI is now setup and the images are available here:

`gcr.io/k8s-staging-sig-storage/nfs-provisioner:canary`

We need some help in updating the docs and adding e2e tests.

[2021-03-16 20:07] kvaps commented on #6
/assign

[2021-03-17 22:19] h0jeZvgoxFepBQ2C opened #44 "How to use with a specified namespace?"
Right now we are trying to figure out how to install this chart in a dedicated namespace?
But it looks like it's not possible when I look at the chart. Is there any reason for this, so that one can specify one?

Our helmfile looks like following:

[code]

[2021-03-17 22:29] kvaps commented on #44
Hi, sorry I'm not much familiar with the helmfile, but I use a few nfs-server-provisioners in dedicated namespace with no problems.

Please make sure that you have different release names for each instance, as each instance generating some cluster-wide resources and rbac rules.

[2021-03-17 22:30] kvaps commented on #44
/assign

[2021-03-17 22:34] h0jeZvgoxFepBQ2C commented on #44
Hm ok, maybe I do something wrong... When I try to set the namespace, it still doesn't get included in the rendered templates as far as I understand it...

Like following - the namespace is just ignored and not appearing in the rendered template.
At least not when I output this via ```helmfile --debug ... diff```

[code]

[2021-03-17 22:45] h0jeZvgoxFepBQ2C commented on #44
I mean, is there a reason why in this template https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner/blob/c5a1f60c33ec32e0bbe9a81cd487643f55fb4a22/deploy/helm/templates/statefulset.yaml#L9
f.e. there is no:

[code]

Please tell me if this is a stupid question, our team is still new to Kubernetes, helm and helmfile :)

[2021-03-17 22:52] kvaps commented on #44
Well, there is good issue about specifying or not specifying namespace in helm charts https://github.com/helm/helm/issues/5465

Actually you don't have to. Helm has own parameter for specifying namespace out of the values values. Usually it is done by simple providing `--namespace` option to helm during manifestation. If namespace is not specified the current one will be used.

Templating namespac

[2021-03-24 17:56] #6 closed

[2021-03-25 08:41] #5 closed

[2021-03-28 04:59] kmova commented on #16
/reopen

[2021-04-02 23:13] kvaps commented on #25
This is still on scope
/remove-lifecycle rotten

[2021-04-07 08:16] kycfeel commented on #34
I'm having the exact same issue with him. In my case, I'm running a Kubernetes v1.20 (built with kubeadm) on an IBM S390X mainframe. The PV / PVC gets provisioned successfully, but the pod itself just hangs at the container creating status and returns a timed-out error after few mins.

[2021-04-07 09:24] kycfeel commented on #34
Ok so for me, I've solved this issue by adding the flags below at the values.yaml (helm chart), `mountOptions`.

[code]

 @tricky42 Can you try with these flags on your environment?

[2021-04-07 14:35] tricky42 commented on #34
Hi @kycfeel,

thanks for the tip. Just tried it out and it works. For now I switched to a different solution for our dev setup, but good to know ;) How did you find these config options?

Cheers,

Andreas

[2021-04-07 15:11] kvaps commented on #34
@kycfeel @tricky42 could you provide more info on which CNI-plugin and kube-proxy mode is used?

[2021-04-08 10:40] samene opened #45 "error while mounting - 1 validation errors in block EXPORT"
PVC is not getting provisioned on some systems. It works on some and not on others. This is the error in the PVC

[code]

Abd this is the error in the nfs pod

[code]

v3.0.0

[2021-04-12 08:49] kycfeel commented on #34
@kvaps Hey. I'm on a default kube-proxy mode (which is iptables), with the latest flannel CNI.

[2021-04-12 09:17] kycfeel commented on #34
@tricky42 I just found it from one of the Stack overflow posts 🤷‍♀️

[2021-04-12 09:24] tricky42 commented on #34
@kvaps I am using the K3D defaults: iptables and flannel CNI.

@kycfeel Looks like you have better Stackoverflow search skills ;)

[2021-04-15 05:07] kycfeel commented on #34
@tricky42 Hey. Can I ask which storage solution are you using for your dev setup?

[2021-04-19 16:46] #44 closed

[2021-04-19 16:46] h0jeZvgoxFepBQ2C commented on #44
You are right, I think it's better to specify the namespace as helm deployment parameter.

[2021-04-21 08:01] jorgesece opened #47 "Pods fail when are allocated in a different node to the nfs-provisioner pod is running."
Hi! I tried to use nfs-provisioner with openshift.
But pods are failing when are allocated in a different node where the nfs-provisioner pod is running. I suppose that it is because CLUSTERIP service is not accessible from pods in different nodes.
Is there another way to expose the provisioner rather than using clusterIP?

[code]

Many thanks,
Jorge

[2021-04-21 15:29] tricky42 commented on #34
@kycfeel sure, we are using K3D and the local-path provisioner.
Do you have a link to the stackoverflow post by any chance?

[2021-04-25 18:38] #18 closed

[2021-04-27 05:46] #16 closed

[2021-05-04 07:54] rombert commented on #27
This is still relevant IMO.

[2021-05-13 17:27] #29 closed

[2021-05-16 22:37] Shaked opened #48 "Read-only file system - cannot write to pod"
Hey,

I have installed the provider through helm:

[code]

Then I have added a Persistent Volume:

[code]

While `clearml-cache` was created with:

`$ gcloud compute disks create --size=100GB --zone=$ZONE --project "$PROJECT_ID" clearml-cache`

Then I have added a PV and PVC:

[code]

and a pod:

[code]

I tried to set this pod with and without some of the above configuration, for example with and

[2021-05-17 13:41] lchastel opened #49 "Upgrade NFS - Ganesha to version 3.5"
Hello

The version of NFS - Ganesha used in this provisionner is the version 2.8.2 which is old (Jully 2019 according to its repository.
Could you please upgrade the version to 3.5, latest GA available ?

Best regards

[2021-05-17 14:41] Shaked commented on #48
I have figured the problem. I kept creating the PV while I only had to create a PVC and wait for the controller to watch and attach a PV for that.

[2021-06-03 08:11] rombert commented on #27
https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner/issues/27#issuecomment-831751392

[2021-06-04 16:10] #26 closed

[2021-06-09 06:42] darkedges opened #52 "High CPU makes instance unusbale"
When deploying using

[code]
The k8s instance become unresponsible with a high cpu load.

Not even sure where to start diagnosing this issue.

Any ideas?

[2021-06-10 10:18] darkedges commented on #52
This resolves my issue
https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner/pull/53

I get a lot more logs and my pv and PVC is created.

[2021-07-11 12:05] #36 closed

[2021-07-14 00:10] euven commented on #27
/remove-lifecycle rotten

[2021-07-14 00:11] euven commented on #27
/remove-lifecycle rotten

[2021-07-14 06:37] kvaps commented on #27
/reopen

[2021-07-30 00:16] consideRatio opened #57 "Three Dockerfiles in repo could be a single"
In #56 @kvaps suggests to let two dockerfiles be the same Dockerfile. Excellent!

I'm not sure about the status of the arm Dockerfile, but trialing to build the x86_64 arm dockerfile on my arm64 based Raspberry PI 4, it seem to work fine as well.

Perhaps there should simply be one single Dockerfile instead of three or two?

[2021-07-30 14:55] boretom commented on #45
Hi @samene, on what platform/hardware do you deploy it?

I tried to use it for a one-node homelab using Rancher and I didn't succeed (and ended up using the [kvaps helm chart](https://artifacthub.io/packages/helm/kvaps/nfs-server-provisioner)).

In my case the reason it most probably failed was because the pod is running on the docker overlay2 storage driver. And this doesn't allow "open_by_handle

[2021-08-02 14:37] #40 closed

[2021-08-03 10:07] consideRatio commented on #57
@kmova or @kvaps I'd love to help with this, but while I think the goal is clear - to not maintain separate arm64/amd64 Dockerfiles, it isn't obvious how to go about this.

I note that the only file referencing the deploy/docker/arm and deploy/docker/x86_64 folders is the Makefile. I note that the Makefile has commands specifically for arm but not for x86_64/amd64, providing some assisting command

[2021-08-09 20:42] amnk commented on #25
I'm not sure what project priorities are at the moment, but there is a relatively easy way to host charts directly on Github Pages, using [chart-release-action](https://github.com/helm/chart-releaser-action). All it needs is a separate branch, and some configuration for Github and repo structure.

[2021-08-17 09:53] consideRatio commented on #49
This remains a relevant and concrete issue.

[2021-08-17 21:12] consideRatio opened #60 "Helm chart: define NetworkPolicy resources to narrow allowed network communication"
NetworkPolicy resources can help pods avoid doing things they shouldn't do by just allowing what needs to be allowed. By describing explicit needs of network communication within the resources of this Helm chart, all other network communication can be rejected as a level of protection.

[2021-08-19 09:14] consideRatio commented on #47
@jorgesece if you do `kubectl describe pod <a pod that is failing to mount storage>` you get information about what is failing that can be of relevance to consider this.

I have a functional setup where i have multiple nodes that are provisioned storage to pods on the nodes. Note that a k8s cluster requires pod to be able to communicate with other pods etc, and if that isn't functioning, the k8s C

[2021-08-20 04:33] #49 closed

[2021-08-23 02:48] consideRatio opened #63 "Remove or relocate deploy/docker/config"
I'm not sure what this file does, but I see no mention of it in docs and it lacks comments etc. I believe it is a Kubernetes config on how to access a k8s cluster, and if it is that, it wouldn't make sense to locate in the deploy/docker folder.

https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner/blob/027c2eb68e7be2d0d1af6cad2a36cbd64a711b12/deploy/docker/config#L1-L15

[2021-08-23 02:50] consideRatio commented on #52
Since #53 was noted to resolve the issue, and we have now updated to v3.5 that #53 did, I think we can close this issue.

[2021-08-23 02:56] consideRatio opened #64 "Default to use mountOptions.vers=4.2"
I asked @yuvipanda whom I learn a lot of NFS matters from about this:

https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner/blob/027c2eb68e7be2d0d1af6cad2a36cbd64a711b12/deploy/helm/values.yaml#L74-L75

---

Should we transition to suggest 4.2 by default instead?

[2021-08-26 12:35] kvaps commented on #64
This change from NFSv4 to NFSv3 was introduced by me in https://github.com/helm/charts/pull/19260

The main reason was in fact that NFSv3 is stateless protocol and works better in such dynamic environment as Kubernetes.
My tests shows that NFSv3 has faster recovery after failure and shows better performance than NFSv4.

Many vendors are using NFSv3 by default, for example [Proxmox](https://www.pro

[2021-08-26 12:40] kvaps commented on #52
OK, hopefully fixed in https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner/pull/61
in case of not, please live a comment

/close

[2021-08-28 03:14] consideRatio commented on #64
Ah I wasn't aware of this complexity, and I'm also not very knowledgeable about the tradeoffs in general.

@yuvipanda could you answer what you think regarding benefits of using v4.2 over v3 by default?

[2021-08-28 07:56] afbjorklund opened #66 "Image not found, from the deployment"
The yaml doesn't match the text.

https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner#quickstart

[code]

https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner/blob/master/docs/deployment.md

`kubectl get deploy nfs-provisioner -o yaml | sed "s|quay.io/external_storage/nfs-ganesha-server-and-provisioner:latest|k8s.gcr.io/sig-storage/nfs-provision

[2021-08-28 11:26] consideRatio commented on #66
This is a duplicate of #46.

This helm chart is available in kvaps Helm repo atm, not yet officially packaged directly, but soon perhaps: #65.

Functional images are listed in this repos helm chart's values.yaml file.

[2021-08-28 11:59] afbjorklund commented on #66
Didn't use helm, though.

[2021-08-28 12:13] consideRatio opened #67 "Kubernetes YAML manifests not maintained in sync with Helm chart"
I note that there is a set of yaml files that i assume to mirror the Helm chart, but they are not updated as work is done on the Helm chart.

Should they be maintained at all, and if so, how should they be maintained? By using `helm template` to generate a rendered set of resources from the Helm charts default values perhaps?

[2021-08-28 14:04] afbjorklund commented on #67
They seemed to be working still (like they did before the move*), it was mostly the image location that was outdated...

* ~~https://github.com/kubernetes-retired/nfs-provisioner~~

* ~~https://github.com/kubernetes-retired/external-storage/tree/master/nfs~~

There is also no clear separation in the instructions where the "installation" ends and where the "usage" begins:

* deployment.yaml
* rbac.

[2021-09-06 12:56] h0jeZvgoxFepBQ2C commented on #34
Does this only work for new created volumes? or should I be able to just delete the old nfs-server pod and then the next mounts are using these settings already?

Should this be ok how we are using it? (we use it as a dependency in our own helm chart):

[code]

[2021-09-08 20:45] #25 closed

[2021-09-09 12:31] cccs-cat001 opened #68 "Mount PVC as specific user"
Hi, Is it possible to use this to mount the pvc as a specific user? I see we can mount with a certain gid using that parameter, but then the uid is some random number. There is no parameter option for uid as I've tried, so is there some other way to mount an nfs pvc with a specific uid?

[2021-09-14 04:14] adarmanto opened #69 "Resizing support?"
It might still relate to https://github.com/kubernetes-retired/external-storage/issues/1142.

and when I tried to resize the volume it shows this message on the `describe` command:

[code]

Is there any plan to support this feature?

[2021-09-14 12:49] kvaps commented on #69
Yeah, @wongma7 answered correct in https://github.com/kubernetes-retired/external-storage/issues/1142#issuecomment-469296488:

[2021-09-15 05:08] adarmanto commented on #69
Got it so, it also confirmed on this new repo won't add this feature. Just wanted to clarify, thanks!

[2021-09-15 05:08] #69 closed

[2021-09-18 09:37] #47 closed

[2021-09-20 21:47] h0jeZvgoxFepBQ2C commented on #34
After updating our cluster from 1.19 to 1.21 we dont get this error anymore.

[2021-09-28 16:17] #45 closed

[2021-10-20 22:23] #34 closed

[2021-10-22 01:48] LordNoteworthy opened #72 "NFS Server Provisioner pod keeps restarting"
Hello,

I believe there is something probably off with the latest nfs server provisioner chart.

My kubernetes version:

[code]

Steps I did:

[code]

Results:
![image](https://user-images.githubusercontent.com/5129564/138379691-7853769d-bc62-4217-94d9-a512bb29dea2.png)

Why the pod keeps restarting? Looking at the logs, it exits with return code 137

[code]

[code]

I was digging into the github

[2021-10-30 08:50] kvaps commented on #72
Hi @LordNoteworthy could you check the logs of pod, using this command:

[code]

[2021-11-01 10:48] consideRatio commented on #57
/remove-lifecycle stale

[2021-11-06 09:25] h0jeZvgoxFepBQ2C opened #73 "nfs-server doesn't reload when mountoptions are changed"
It seems that the nfs server is not automatically reloaded when the mountoptions are changed.. Wouldn't it be good to f.e. set an annotation with a sha256 hash of the mount options?

[2021-11-13 10:40] #57 closed

[2021-11-15 07:34] mkumatag opened #78 "Increase the timeout for the prow jobs"
With addition of non-amd64 platforms, now prow job is taking more time to finish building the container images because of the cross-build(qemu simulation mode) and times out for default timeout(2hrs)

Sample job run:
https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-nfs-ganesha-server-and-external-provisioner-push-images/1459900631392194560

something like this is needed to fix the timeout

[2021-11-15 07:35] mkumatag commented on #78
/assign @Rajalakshmi-Girish
can you ptal

[2021-11-15 09:39] Rajalakshmi-Girish commented on #78
Hope just inclusion of `decoration_config:` to the job YAML would work.
I don't see a way to test it before submission. @mkumatag Please correct me if I am wrong.

[2021-11-15 09:47] mkumatag commented on #78
adding that additional timeout in the decoration_config should fix the issue.

[2021-11-15 22:59] consideRatio commented on #60
/remove-lifecycle stale

It's a relevant feature missing worth representing with an open ticket.

[2021-11-18 00:33] #78 closed

[2021-11-18 09:00] Gui13 opened #79 "Use the nfs service DNS name instead of IP to specify the PV"
Hello,

We've had a disaster recovery on our cluster and we had to re-provision the nfs server provisioner.

When we reprovisioned the server, it created a new service which got a new IP address, which made all the PVs invalid.
We restored the functionality by adding a new ad-hoc service in which we specified the service IP to correspond to the PVs ones. We now need this wart in the cluster.

I wa

[2021-11-22 06:58] consideRatio commented on #63
/remove-lifecycle stale

[2021-12-01 12:01] jacobfederer opened #84 "How to migrate from a manual NFS solution? How can use an existing PV?"
I'm currently using a handmade NFS volume solution and would like to move to the official NFS image.

Is it possible to take the existing PV with me to the new provisionier solution? Or is there a way to copy the files from the old disk to the new one?

[2021-12-03 11:35] valencetech opened #86 "PriorityClass name is set to nil even when none is created."
The Priority Class section is causing issues in version 1.4.0.
If priorityClass.create is false and priorityClass.name is "", priorityClassName is set to nil (see below)
`Error: template: nfs-server-provisioner/templates/statefulset.yaml:120:24: executing "nfs-server-provisioner/templates/statefulset.yaml" at <.Values.priorityClass.name>: nil pointer evaluating interface {}.name`

If priorityClass

[2021-12-03 22:46] BlaineEXE opened #87 "Clustering and high availability"
It's my understanding that the project currently doesn't support creating a highly-available NFS server cluster given the lack of examples on the subject. However, I do also see the `leader-elect` flag on the binary with the description `Start a leader election client and gain leadership before executing the main loop. Enable this when running replicated components for high availability. Default f

[2021-12-11 09:25] #27 closed

[2021-12-12 17:06] omegazeng opened #88 "nfs-provisioner arm64 support"
Failed to pull image "k8s.gcr.io/sig-storage/nfs-provisioner:v3.0.0": rpc error: code = Unknown desc = Error choosing image instance: no image found in manifest list for architecture arm64, variant "v8", OS linux

[2021-12-13 03:05] omegazeng commented on #88
https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner/tree/v3.0.0/deploy/docker/arm/Dockerfile
only arm32 v7
Hope to support arm64 v8
Thx!

[2021-12-13 16:15] omegazeng commented on #88
## build arm64
[code]
## install
* nfs.yaml
[code]
[code]

## test
* test-dynamic-volume-claim.yaml
[code]
[code]

so good so far.

I will keep this issue open until official support for arm64.

[2021-12-21 09:47] horca commented on #72
Same problem here.

My environment:
Fedora 35 - kernel 5.15.7-200
Kind 0.11.1
Docker 20.10.12
Kubernetes client 1.23.1
Kubernetes server 1.21.1
NFS server installed with helm chart https://artifacthub.io/packages/helm/kvaps/nfs-server-provisioner

[code]
[code]
[code]

[2021-12-26 14:48] kvaps commented on #87
Hi, currently this project intended for use in single replica to export just one PV via FSAL
As far as I know, NFS-ganesha does not support any clustering with the FSAL backend, except, maybe, pNFS, which is still not highly available thus makes no sense for the leader-election feature.

In order to make nfs-server-provisioner highly available you can consider some HA-enabled solution under it eg.

[2021-12-26 14:59] kvaps commented on #68
Hi, the in-tree driver is used to mount NFS-volumes in Kubernetes, the implementation is related to this project.

I believe that standard [fsGroup / fsGroupChangePolicy](https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#configure-volume-permission-and-ownership-change-policy-for-pods) should work

[2021-12-26 20:44] kvaps commented on #67
/remove-lifecycle rotten

No, those manifests were written manually.

I think the best option would be to have them generated from the helm template command.
We need to add CI job for `/charts/nfs-server-provisioner` to run on every PR and perform:
- Check if chart version bumped
- Check if manifest is generated from the latest chart version

[2021-12-27 08:13] consideRatio commented on #67
What about removing them, adding an instruction on how to generate them with helm template into an output dir? It can be a one liner to do so using the --repo flag.

I currently dont see a big enough value for an end user to have these generated in the repo. I imagine they will lead to some confusion, maintenance needs, and additional support questions and complexity.

[2021-12-27 09:23] kvaps commented on #67
I suppose someone can continue using them as a library for his jsonnet/kustomize project, but they are definitely not maintained, so such users can just hold on specific commit.

Let's try removing them, if there will be any issues, we can consider the solution later.

[2021-12-28 00:15] Routhinator opened #90 "Please add support for pathPattern to match the nfs-subdir provisioner"
Hey, would love to see support for the path config to be able to be set for consistent volume naming/grouping on the filesystem as with the nfs-subdir provisioner.

[code]

[2021-12-28 09:27] kvaps commented on #37
/reopen

[2021-12-28 09:29] kvaps commented on #90
Currently nfs-server-provisioner creates directories according to PV name. eg:

[code]

I would not want to change this behavior. However we can consider adding symlinks with user friendly names like:
[code]

I think this can be done as part of https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner/issues/37 to have deterministic configuration and symlinks each new run.

[2021-12-28 09:30] kvaps commented on #37
This still in a row

/remove-lifecycle rotten

[2022-01-04 11:04] pentago opened #91 "nfs-provisioner Apple Silicon M1 ARM support"
Current image doesn't run on newer Macbooks:

[code]

Any chance ARM variant of this image can be added to the build?

Thanks!

[2022-01-11 12:42] johnnytolengo commented on #90
Hello, will be fine to add a reference (as a prefix) of the PVC name in the NFS Folder.

Currently the PV is created as eg:
` pvc-307c7fe3-ea0a-42b8-a0cd-ae145f155a25`

let's say that my PVC is called: mytest

and what I would like to have in the NFS is something like:
`mytest-pvc-307c7fe3-ea0a-42b8-a0cd-ae145f155a25`

In that way I can recongnize which folder belongs to which deployed project.

C

[2022-01-11 13:42] johnnytolengo commented on #90
Problem solved updated code on provision.go:

PVNamewithprefix := strings.ReplaceAll( string( strings.ToLower(options.PVC.Name) ) , " ", "" ) + "-" + options.PVName
now it's working as I expected :)

[2022-01-12 17:05] simingweng commented on #23
We ran into the same situation on Azure with `nfs-provisioner` image version https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner/blob/abfbe652e38e5a0562c70ce1af517a31a07d7c9a/charts/nfs-server-provisioner/values.yaml#L11.

However, if we build the latest image of master branch, in which `ganesha` has been upgraded to `V3.5`, the issue seems to have been mitigated.

It se

[2022-01-25 04:17] #64 closed

[2022-01-25 13:24] #66 closed

[2022-01-28 09:16] EmielBruijntjes commented on #79
I think your suggestion makes sense. I think that using an IP address is indeed a bit unreliable in case someone recreates the service. But after trying to fix this for a while, I found out the reason why IP addresses are being used.

I discovered this: the actual NFS mount is not created by the pod or container, but takes place on the host operating system. Under the hood, the "mount -t nfs" comm

[2022-02-06 07:32] mashkovd opened #93 "nfs-server afrer update or autoscaling node"
Hi,

In my point.
I have installed [nfs-ganesha-server-and-external-provisioner](https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner) by helm.
After deploy app and create PV we have working app and etc.
But when autoscaling or updating node **nfs-server** recreate and we have empty folder export

How i can save data after reinstall nfc server/
Thx

[2022-02-07 16:55] jstewart612 opened #94 "feature request: helm chart pod annotations"
Please add a field to allow us to specify pod annotations.

Example use case: disallowing pod eviction by Cluster Autoscaler:

``` cluster-autoscaler.kubernetes.io/safe-to-evict: "false" ```

[2022-02-11 11:26] splitice opened #95 "Support for xattr"
I've been doing some testing and with NFSv4.2 pvs provisioned do not support xattr.

But they should by my understanding.

[code]

Any ideas?

[2022-02-11 11:32] splitice commented on #95
Perhaps related?

https://github.com/nfs-ganesha/nfs-ganesha/issues/526

[2022-02-24 11:38] yemkay commented on #93
Have you enabled persistence by referring the Readme?

[2022-02-24 15:26] #68 closed

[2022-02-25 22:00] elibixby opened #97 "[Proposal] Multi-server storage class and provisioner"
Volume resizing and splitting servers by subpaths has two problems in my usage:

* Volume resizing doesn't happen automatically (or at least I haven't been able to figure that out), so the underlying storage is either overprovisioned, or may block PVCs using this storage class. While this isn't technically wrong, it breaks the contracts many cloud providers have with their storage classes (roughly

[2022-03-26 17:03] javiroman opened #98 "MountVolume.SetUp failed for volume "kube-api-access-b9tt8" : object "default"/"kube-root-ca.crt" not registered"
[code]

[code]

[code]

[2022-03-31 13:46] pentago commented on #91
ping?

[2022-04-05 11:41] #73 closed

[2022-04-06 00:37] chrisdmacrae opened #99 "Cannot get NFS to create PV"
Running ganesha in k8s.

Getting the following error when trying to create PV:

[code]

Here is the sum of my config:

[code]

[2022-04-13 11:57] kvaps commented on #99
Hi, you have missing separator `---` in your example between `kind: ServiceAccount` and `kind: Service`

Could you provide the output of the following command:
[code]

[2022-04-13 22:57] chrisdmacrae commented on #99
@kvaps I just added these manually from a dump; I reset my cluster as I setup a separate NAS box, so I have to re-apply this configuration.

[2022-04-15 00:38] #60 closed

[2022-04-21 08:34] #63 closed

[2022-04-21 13:46] ErikLundJensen opened #100 "nfs-server-provisioner helm chart: additional StorageClass annotations"
Add option for additional annotations at the nfs StorageClass object.

For example to be used when configuring Kasten (K10) backup/restore solution.

[2022-04-21 14:45] ErikLundJensen commented on #100
PR: https://github.com/kubernetes-sigs/nfs-ganesha-server-and-external-provisioner/pull/101

[2022-04-22 12:01] ErikLundJensen commented on #100
See also pull-request #102 which also solved issue issues #94

[2022-04-22 12:02] ErikLundJensen commented on #94
See also pull-request #102

[2022-04-22 12:49] ErikLundJensen commented on #100
/assign @ashishranjan738

[2022-04-30 13:41] #84 closed

[2022-05-02 12:56] #86 closed

[2022-05-12 15:35] ganniterix opened #103 "NFS share is not created when PVC and PV are not created via app/deploymentset."
I have deployed the NFS service and it works when volumes are automatically created with the volumeClaimTemplate. An NFS share is generated and all is fine. However, when I create a PVC and PV, it does not seem to generate the relative NFS share.

**Storage class**
[code]

**PV** (create with and without provisioner_id, no change)

[code]

**PVC**

[code]

I did notice that the EXPORT section is n

[2022-05-12 15:48] kvaps commented on #103
Why are you trying to create PV manually? nfs-server-provisioner should do this automatically

[2022-05-12 16:02] ganniterix commented on #103
Because I want to create a volume, that is to be shared as an NFS share externally, and I would like to not have a name that is like pvc-***********.

[2022-05-12 16:27] kvaps commented on #103
I have worries that this will not work. nfs-server-provisioner generates config for each PVC, then exports it, then creates PV. This is main workflow.

[2022-05-13 14:36] #99 closed

[2022-05-16 15:10] ganniterix commented on #103
Does this mean that there is no way to manually set the name of a share?

[2022-05-16 15:34] kvaps commented on #103
yes, currently there in no such opportunity

[2022-05-25 16:42] #87 closed

[2022-05-26 14:51] #67 closed

[2022-05-27 10:52] #37 closed

[2022-06-02 21:04] h0jeZvgoxFepBQ2C commented on #34
Just to add further informations to this issue, I guess the root cause was the long (default) timeout for remount tries (which is set to 300 seconds / 5 minutes).

After setting following settings it works pretty fine (this settings only work for newly created PVs, it's doing nothing if you only change it after it has been created!):

[code]

[2022-06-04 19:44] fragolinux commented on #91
any news?

[2022-06-11 13:03] splitice commented on #95
Get lost staleboy

[2022-06-20 21:40] terion-name commented on #91
same here =((

[2022-06-27 10:36] #79 closed

[2022-07-11 13:06] #95 closed

[2022-07-15 13:59] rg2609 opened #105 "Waiting for first consumer to be created before binding"
I am trying the helm chart and it not getting created its still showing the the PVC as `Waiting for first consumer to be created before binding`.
The PVC describe as follow:
[code]

[code]

[2022-07-18 16:29] saipradeep01-whs commented on #91
same here. Any fix implemented or work around?

[2022-07-18 18:13] fragolinux commented on #91
Moved to openebs nfs provisioner, that has m1 support

[2022-07-18 19:40] saipradeep01-whs commented on #91
@fragolinux do you have that link?

[2022-07-19 06:20] fragolinux commented on #91
It isn't fair to put it here (it wasn't even naming that, honestly, but hey, here we're stuck...), a simple Google search using my terms will bring you to the right place...

[2022-07-19 06:53] kvaps commented on #91
Be free to post any links here. We're free community
https://github.com/openebs/dynamic-nfs-provisioner

[2022-07-19 08:24] pentago commented on #91
Thank you sir.
On 19 Jul 2022, 8:53 AM +0200, Andrei Kvapil ***@***.***>, wrote:

[2022-07-24 12:30] #93 closed

[2022-07-25 23:42] #97 closed

[2022-08-15 13:23] pentago commented on #91
The thing is, that project that's mentioned in the comment above is trash. Even they call it an alpha-state project and it's lacking so many things.

I think we need M1 build of this particular provisioner as there are no decent alternatives elsewhere.

[2022-08-22 15:57] DekelDevunet commented on #103
@kvaps How can one set up PV if he disabled StorageClass?

[2022-08-23 08:16] dminca opened #106 "Is this project still maintained?"
I see last commit was on 26th Dec. '21

[2022-08-23 19:28] #98 closed

[2022-09-06 03:29] infa-dsokolov commented on #106
Looks like it is abandoned. The latest nfs provisioner image was release 3 years ago

[2022-09-09 07:07] daoxincc opened #108 "failed to provision volume with StorageClass "nfs": error getting NFS server IP for volume"
**When I create pvc use nfs sc and I got an error .**

**It's my config:**
[code]
**I got error**
[code]

**if I set replicaCount is 1, that's fine**

How can I fix this?

[2022-09-19 14:13] #94 closed

[2022-09-19 14:13] #100 closed

[2022-10-21 17:14] #103 closed

[2022-11-03 08:06] pyy000pine opened #111 "After the service nfs-server-provisioner is restarted, the following error will be reported: access denied by server while mounting"

[2022-11-08 12:31] pentago commented on #91
Hopefully this latest comment moves things a bit..